.about-bg{
    background-image: url('../../image/female-doctor-hospital-with-stethoscope_23-2148827775.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    
}
.about{
    padding: 40px;
}

.cards{
padding: 100px;

}



@media only screen and (max-width: 425px){
    .cards{
        padding: 0px;
    }
    .about-bg{
        margin-top: 30px;
        margin-bottom: 150px;
    }
    .about{
        padding: 80px;
    }
  }