
.item{
    /* margin-left: 50px; */
    background-color: #ebd1e7;
    padding: 2%;
   
    
}

.card-img {
    border-radius: 30px;
    
}

.item:hover{
    position: relative;
    background-color: #a5cfc8;
    padding: 10%;
    box-shadow: 10px 10px 5px rgb(136, 135, 135);
}
.btn{
    background-color: rgb(228, 170, 25);
    color: white;
    width: 200px;
    font-weight: 700;
}
.item:hover .btn{
background-color: rgb(155, 49, 31);
width: 150px;

}

.btn:hover{
    box-shadow: 5px 5px 5px rgb(165, 160, 160);
}



@media only screen and (max-width: 425px){
    .btn{
        width: 100px;
    }
  }